/* FUENTES TRAIDAS DE GOOGLE FONTS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Poppins:ital,wght@1,300;1,400&display=swap');


/* Normalize */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}


img {

    width: 100%;
}


html {

    font-size: 62.5%;
}

h1 {
    margin: 0 5rem 0 5rem;
    text-align: center;
    font-size: 3.5em;
    font-family: Poppins;
    color: #5F7052;
    
}

/* SWEET ALERT */

.textSweetAlert {

            font-size: 1.5em  !important ;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
            text-align: center !important;


}

.tituloDescripcion {

  font-size: 2.5rem !important;
}

.descripcion {

  font-size: 1.5em  !important ;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
            text-align: center !important;
            color: cornflowerblue;
            margin-top: 2rem;

}

.ingredientes {

  font-size: 1.5em  !important ;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
  text-align: justify !important;
  margin-top: 2.5rem !important;
  margin-bottom: 2rem;
  color: grey;


}

.imagenDescripcion {

  border-radius: 100px !important;
}

.totalResumen {

  font-size: 1.5em  !important ;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
  text-align: center !important;
  color: cornflowerblue;
  margin-top: 2rem;
 


}

.parrafoMail {

  font-size: 1.5em  !important ;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
  text-align: justify !important;
  color: cornflowerblue;
  margin-top: 2rem;


}

.tituloModal {

  font-size: 2.5rem !important;
  margin-top: 0;
  margin-bottom: 2rem;
}

.footerModal {

  font-size: 1.8em  !important ;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
  text-align: center !important;
  font-weight: 600;


}

/* ESTILOS LOGO */

 .logo {


    height: 300px;
    width: 300px;
   
}

/* ESTILOS NAVEGADOR */

.navHeader {

    margin: 2rem ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menuNav {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    
}

.nav_item .nav_link {

    text-decoration: none;
    margin: 0 10px;
    font-size: 1.5em;
    color: grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

/* ESTILOS LOADING */

.estilosLoading {

  text-align: center;
  margin-top: 2rem;
  color: green;
  font-size: medium;

  
}

/* ESTILO BOTON DEL CARRITO */



.estilosBotonCarrito {

    height: 30px;
    width: 30px;
    margin: 0% 3rem;
    color: grey;
    cursor: pointer;
  
}



/* Card budines */

.cardBudines {
    padding: 3% ;
    display: flex ;
    flex-direction: row ;
    justify-content:space-between ;
    align-items: center ;
    gap: 8rem ;
    margin-top: 4%;
    font-size: 1.5em;
 
}
    
    .divBudines {

      
    display: flex ;
    flex-direction: row;
    gap: 2rem ;
    row-gap: 2rem;
    
}

   .boxBudines {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        box-shadow: 0 0 5px cornflowerblue;
        transition: all 0.3s linear; }

      

    .boxBudines__img {
            
            
            width: 100%;
            height: 100%;
            position: relative;
           
        }

       .boxBudines__title {

            color: grey;
            text-align: center;
            font-size: 2em;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
        }

         .boxBudines__subtitle {

            color: cornflowerblue ;
            font-size: 1.5em;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            text-align: center;
            margin-bottom: 1rem;
        }

     

        .boxBudines__precio {

            font-size: 1.5em;
            text-align: center;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: grey;
            margin-bottom: 1rem;
            
        }

        /* BOTON DESCRIPCION DE LOS PRODUCTOS */

        .btnDescripción {

          font-size: 1em;
          text-decoration: none;
          color: cornflowerblue;
       
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
         margin: 1.5rem 5rem 1.5rem 5rem; 
          cursor: pointer;
        }

        /* BOTON BORRAR */

        .icon-borrar {

         text-align: center;
         margin: 1rem 6rem 1rem 6.5rem;
          height: 20px;
          width: 20px;
          cursor: pointer;
          
        }

        /* BOTON CARRITO DE LAS CARDS */

        .estilosBotonCarrito1 {

          height: 25px;
          width: 25px;
          background: lavender;
          cursor: pointer;
          position: absolute;
          bottom: 3.2rem;
          display: flex;
          justify-content: center;
          transition: all 0.3s linear; 
          


        }

        .estilosBotonCarrito1:hover {

          transform: scale(1.1, 1.1);
          box-shadow: 0px 0px 2px cadetblue;
      }

        /* ESTILOS MODAL */

        .close {

          cursor: pointer;
        }
    

         .modal {
          
          display: none; 
            position: fixed; 
            z-index: 1; 
            left: 0;
            top: 0;
            width: 100%; 
            height: 100%; 
            overflow: auto; 
            background-color: rgb(0, 0, 0); 
            background-color: rgba(0, 0, 0, 0.4); 
          }
          
           /* Modal Content */
          
           .modal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto ;
            padding: 0;
            border: 1px solid #888;
            width: 25rem;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            animation-name: animatetop;
            animation-duration: 0.4s;
            top:10%;
            left:40%; 
          }

          /* Modal Header */
         
             .modal-header {
              padding: 2px 16px;
              background-color: cornflowerblue;
              color: white;
              font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
              font-size: 1.5em;
              text-align: center;
          }
          
          
          /* NO ME FUNCIONA SOLITO EL SCROLL */
        
          /* Modal Body */
          .modal-body {
            padding: 2px 16px;
            height: 20%;
          } 

         
          /* Modal Footer */
        
          .modal-footer {
            padding: 3px 16px;
            
            background-color: #6495ed;
            color: white;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 2em;
            margin-top: 2rem;
            text-align: center;
            height: 5rem;
          }

          /* BOTON FINALIZAR COMPRA MODAL */

          #botonFinalizarCompra {

            
           padding: 0.5rem; 
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: white;
            
            border: solid 1px white;
            margin-top: 5rem !important;
            border-radius: 10%;
            cursor: pointer;
               } 

         /* PARRAFO TOTAL */

          #parrafoTotal {

            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 1.6em;
            color: #888;
            margin-top: 1rem;
            text-align: center;
}



   /* ANIMACIONES DEL MODAL */       
               /* Add Animation */
          @keyframes animatetop {
            from {
              top: -300px;
              opacity: 0;
            }
            to {
              top: 0;
              opacity: 1;
            }
          }

          /* PAGINA CONTACTO */

          /* FORMULARIO */


.mb-3 {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.form-label {

  font-family: poppins;
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

.form-control {
 
  width: 50rem;
  margin-top: 1rem;

}

.btn {

  margin-top: 2rem;
  color: #888;
  background-color: cornflowerblue;
  font-family: poppins;
  font-size: 1.5rem;
  border-radius: 1%;
  border: solid 1px cornflowerblue ;
  margin: 2rem;
  padding: 1rem;
  
  
  
}

#parrafoProp {

  text-align: center;
  font-size: 1.5rem;
  color: #888;
  margin-top: 2rem;
  font-family: poppins;

}

.gracias {

  text-align: center;
  font-size: 1.5rem;
  color: #888;
  margin-top: 2rem;
  font-family: poppins;


}
          
         

       


